.home {
  .highlighting {
    position: absolute;
    top: 14px;
    left: 2px;
    height: 18px;
    width: 0;
    z-index: -1;
    transition: width 0.4s;
    background-color: #e99191;
  }

  .header {
    min-width: 300px;
    .logo {
      float: left;
      margin: 42px 0 0 10%;
      display: inline-block;
      img {
        width: 115px;
        height: 42px;
      }
      cursor: pointer;
    }
    .log-in {
      position: relative;
      float: right;
      margin: 51px 10% 0 0;
      display: inline-block;
      width: 115px;
      height: 24px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      text-align: right;
      color: #ffffff;
      cursor: pointer;
    }
    .log-in:hover .highlighting {
      width: 115px;
    }
  }

  .header:after {
    content: " ";
    display: block;
    clear: both
  }

  .content {
    position: relative;
    height: calc(100vh - 146px);
    .sphere {
      position: absolute;
      width: 368px;
      top: 15px;
      left: calc(50% - 184px);
      z-index: -1;
    }
    .text-block {
      padding: calc(100vh - 420px) 0 0 calc(50% - 380px);
      color: #ffffff;
      .about {
        width: 588px;
        font-size: 20px;
        line-height: 1.4;
      }
      .title {
        margin: 20px 0 0 0;
        width: 800px;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.19;
      }
    }
    .info-message-modal {
      position: absolute;
      z-index: 1;
      top: -3px;
      left: calc(10% + 115px);
      width: calc(80% - 228px);
      height: calc(100vh - 150px);
      text-align: left;
      background-color: #e99191;
      overflow: hidden;
      .info-message-header {
        margin: 30px 0 0 98px;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.19;
        color: #ffffff;
      }
      .info-message {
        margin: 15px 0 29px 40px;
        font-size: 20px;
        line-height: 1.4;
        color: #ffffff;
        overflow-y: scroll;
        direction: rtl;
        div {
          padding: 0 39px;
          height: calc(100vh - 300px);
        }
      }
    }
  }

  @media all and (max-width: 900px) {
    .content {
      .text-block {
        padding: calc(100vh - 440px) 10px 0 60px;
        .about {
          font-size: 14px;
          width: 95%;
        }
        .title {
          font-size: 24px;
          width: 95%;
        }
      }
    }
  }

  @media all and (max-width: 800px) {
    .content {
      .info-message-modal {
        top: 3px;
        left: 5%;
        width: 90%;
        .info-message-header {
          margin: 15px 0 10px 30px;
          font-size: 30px;
          font-weight: bold;
          line-height: 1.19;
          color: #ffffff;
        }
        .info-message {
          margin: 0 0 0 5px;
          font-size: 20px;
          line-height: 1.4;
          color: #ffffff;
          overflow-y: scroll;
          direction: rtl;
          div {
            padding: 0 15px;
            height: calc(100vh - 245px);
          }
        }
      }
    }
  }
  .content:after {
    content: " ";
    display: block;
    clear: both
  }

  .footer {
    height: 42px;
    .info {
      position: relative;
      margin: 0 0 0 90px;
      width: 115px;
      height: 24px;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer;
      text-align: right;
    }
    .info:hover .highlighting {
      width: 115px;
    }
    span > img {
      position: absolute;
      left: 9px;
      top: 16px;
    }
  }

  .footer:after {
    content: " ";
    display: block;
    clear: both
  }
}
